# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID=AS69i_Zhnvclw7f0uVzbSR9n354Vy6-URUijdjR5NkqWceq2H0QOVkffZrDjMI4L_MBv3-QUgGMdETvO
PAYPAL_CLIENT_SECRET=AcvnnKQSsIPYHgCNKTrz7PQjWWsjBPikBTuOHDLioDhW4P9H-bZG_uhJE4ba6oKFaZBD7Vy7uG5kfehj
